{% extends 'base.html' %}


{% block title %}
    Add movie
{% endblock %}

{% block content %}
    <form method = 'post'>
        {% csrf_token %}
        {{ form.non_field_errors }} <!-- błędy nie wynikające z walidacji pola -->

        <div class ="form-group">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}"></label>
            {{ form.title }} <!-- wygenreowanie pola input -->
        </div>

        <div class="form-row">
            <!-- GENRE -->
            <div class="form-group col-md4">
                {{ form.genre.errors }}
                <label for ="{{ form.genre.id_for_label }}">Genre</label>
                {{ form.genre }}
            </div>
            <!-- RATING -->
            <div class="form-group col-md4">
                {{ form.rating.errors }}
                <label for="{{ form.rating.id_for_label }}">Rating</label>
                {{ form.rating }}
            </div>
            <!-- RELEASED -->
            <div class="form-group col-md4">
                {{ form.released.errors }}
                <label for="{{ form.released.id_for_label }}">Released</label>
                {{ form.released }}
            </div>

        </div>

        <div class="form-group">
            {{ form.descriptionn.errors }}
            <label for="{{ form.descripiton.id_for_label }}">Description</label>
            {{ form.description }}
        </div>

        <input type="submit" value="Send" class="btn btn-primary">
    </form>
{% endblock %}